@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.chat {
  display: flex;
  height: 90vh;
  margin: 20px 80px;
  font-size: 2rem;
}

:root {
  --primary: #0078f7;
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}

.btn:hover {
  padding: 7px 19px;
  transition: all 0.3s ease-out;
  color: #fff;
  border: 2px solid var(--primary);
  background-color: transparent;
}
